@import url('https://fonts.googleapis.com/css?family=Proza+Libre');


/*DEMO*/

#demo-wrapper{
    position: relative;
}

#demo-wrap {
  z-index: 2;
  margin: 0 auto;
  font-family: 'Proza Libre', sans-serif;
  background-color: rgba(62, 62, 62, 0.7);
  height:100%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1.5em;
  /*padding: 30px;*/
}

.demo-1{
  margin-top: 100px;
}

/* GLOBAL */

html, body {
  margin:0;padding:0;height:100%;
}

body{
  background-image: url(/soap_bubble2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#wrapper {
  margin: 0 auto;
  /*width: 960px;*/
  font-family: 'Proza Libre', sans-serif;
  color: rgba(53, 7, 91, 0.9);
  height:100vh;
  position: relative;
  /*background-color: rgba(0, 255, 255, 0.34);*/
  /*background-color: white;*/

  /*overflow: hidden;*/
}
/*
body:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    background-image: url(/soap_bubble2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

#wrapper div {
  z-index: 1;
  position: relative;
}

span {
  float:left;
}

p {
  margin-bottom:0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.block {
  display:block;
}

.inline{
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear{
  clear: both;
}

.centerChildren{
  text-align: center;
  width:100%;
}

/*LAYOUT*/

.error {
  color: red;
  text-align: center;
}

.left-column{
  float:left;
  width:25%;
  padding-left: 40px;
}

.centre-column{
  float:left;
  width: 42%
}

.right-column{
  float:left;
  width:25%;
  padding-right: 40px;
}

.widget{
  box-shadow: inset -5px -2px 20px #8e8e8e;
  border: solid #bfbfbf 1px;
  border-radius: 28px;
  background: #ffffff;
  padding:10px;
  margin: 15px 0 0 5px;
}

.blow {
  width: 220px;
}

.blow div, .widget-content{
  float:left;
}

.react-date-field--theme-default{
  border-color: #dfdfdf !important;
}

/*.react-date-field{
    max-width: 120px;
}*/

/* FORM ELEMENTS */

.btn {
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 color: black;
 font-size: 0.8em;
 background: #ffffff;
 margin: 10px 3px 10px 3px;
 border: solid #cccccc 2px;
 text-decoration: none;
}

.btn:hover {
 background: #eed5fa;
 background-image: -webkit-linear-gradient(top, #ffffff, #caf4f8);
 background-image: -moz-linear-gradient(top, #ffffff, #caf4f8);
 background-image: -ms-linear-gradient(top, #ffffff, #caf4f8);
 background-image: -o-linear-gradient(top, #ffffff, #caf4f8);
 background-image: linear-gradient(to bottom, #ffffff, #caf4f8);
 text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=radio]{
  margin-right: 30px;
}

label{
    display:inline-block;
    width:150px;
}

.formBox{
  width:300px;
  margin: auto;
  padding: 30px 0 0 0;
}

.formGroup{
  margin: 20px 0 20px 0;
}

/*LINKS*/

.link{
  padding: 10px;
  display: inline-block;
  margin-right: 40px;
}

.blog{
  margin-top: 25px;
}

/*BUBBLES*/

.bubble
{
  position: relative;
  float: left;
  border-radius: 90%;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 20px #888888;
}

.active{
  box-shadow: 0 0 30px 5px #9e45ff;
}

.startBtn{
  padding-left: 13px;
}

.startBtn{
  background:none;
  border:none;
  font-family: 'Proza Libre', sans-serif;
  color: rgba(138, 132, 255, 0.0);
  position: absolute;
  top:0;
  left:0;
}

.showStart{
  color: rgba(138, 132, 255, 0.8);
}

.deleteBtn:hover, .startBtn:hover{
  color: rgba(138, 132, 255, 0.8);
}

.btnHolder {
  width:50px;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.visible {
  display:block;
}

.invisible {
  display:none;
}

h3{
  margin: 0;
  text-align: center;
}

.priority1{
    background-image: radial-gradient(circle at 70% 30%, #ffffff 2%, rgba(53, 214, 255, 0.22) 30%, rgba(180, 0, 255, 0.14) 95%);
      padding: 25px;
}

.priority2{
  background-image: radial-gradient(circle at 70% 30%, #ffffff 2%, rgba(126, 255, 121, 0.26) 25%, rgba(120, 241, 255, 0.49) 95%);
  padding: 15px;
}

.priority3{
  background-image: radial-gradient(circle at 70% 30%, #ffffff 1%, rgba(255, 158, 245, 0.22) 20%, rgba(247, 213, 116, 0.45) 95%);

  padding: 5px;
}

/*HEADER*/

h1{
  margin: 0;
}

header{
  border-radius: 28px;
  padding:10px 0 10px 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: -1px 0 15px black, 0 1px 15px black, 1px 0 15px black, 0 -1px 15px black;
}

/*CURRENT SCREEN*/

.sidepanel {
  height:200px;
  width: 175px;
  text-align: left;
  overflow-wrap: break-word;
  padding: 20px 0 0 10px;
}

.sidepanel p {
  width: 250px;
}

.edit {
  float: left;
}

/*POPPED SCREEN*/

.pop-col{
  width: 20%;
  text-align: center;
  height: 20px;
}

.popped-grid{
  width: 100%;
  display: inline-block;
  box-shadow: inset -5px -2px 20px rgb(204, 204, 204);
  border-radius: 28px;
  background-color: white;
}

.popped-wrapper{
  height:100px;
  margin-left: 10px;
}

/*LOG-IN/OUT*/

.loginBtn{
  font-family: 'Proza Libre', sans-serif;
  text-align: center;
  font-size: 0.9em;
  color:inherit;
  margin: 0 auto;
  padding: 10px;
  border-width: 0;
  float:none;
}

.btn-logout{
    position: fixed;
    bottom: 10px;
    margin: 52px;
    right: 25px;
}

/* ANIMATION */
.timing {
  border-radius:50%;
  -webkit-animation:timing 5s ease-in-out infinite;
  -webkit-transform-origin:center bottom;
  -webkit-transition:padding .3s, bottom .3s;
  text-align:center; }

@keyframes timing{
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.97) scaleX(1.03);
  }
  48% {
    transform: scaleY(1.05) scaleX(0.93);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
